:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-title: "Titillium Web", sans-serif;
  --font-text: "Source Sans 3", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--font-title);
}

/*general styles*/

.general-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.general-tags {
  display: flex;
  gap: 8px;
}

.general-tags button {
  padding: 6px 16px;
  color: #aaaaaa;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
}

.general-button {
  padding: 10px 12px;
  min-width: 120px;
  color: white;
  background-color: #61bb61;
  border: 1px;
  border-radius: 8px;
  font-weight: 400;
}

.general-button:hover {
  background-color: #b7e4b7;
  cursor: pointer;
}

.general-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.general-user-input {
  width: 480px;
  padding: 12px 24px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
}

/*root layout*/

.app-header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 215px;
  border-bottom: 1px solid #61bb61;
}

.header-title {
  display: flex;
  align-items: center;
  padding-right: 64px;
}

.header-title h1 {
  font-weight: 700;
  color: #61bb61;
  font-size: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 200px;
  max-width: 400px;
  margin-left: auto;
}

.header-nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}

.header-nav-item:hover {
  color: #61bb61;
}

.header-logout-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

/*home page*/

.home-banner {
  background-color: #61bb61;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title,
.home-subtitle {
  color: white;
  margin: 0;
}

.home-title {
  font-weight: 700;
  font-size: 56px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}

.home-subtitle {
  font-weight: 400;
  font-size: 24px;
}

.home-content {
  padding: 10px;
}

.home-tags {
  border: solid 1px grey;
  padding: 16px;
  margin-bottom: 16px;
}

.home-tags p {
  font-weight: 700;
  margin: 0 0 12px 0;
}

.home-article-container {
  border: solid 1px grey;
  padding: 16px;
  margin-bottom: 16px;
}

.home-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-likes-container {
  padding: 8px 16px;
  border: 1px solid #61bb61;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.preview-likes-counter,
.preview-likes-heart {
  color: #61bb61;
}

.home-article-title {
  margin: 10px 0 0 0;
}

.home-article-title a {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

.home-article-text {
  color: #aaaaaa;
}

.home-pagination-container {
  display: flex;
  justify-content: center;
}

.page-button {
  padding: 12px 16px;
  border: 1px solid #61bb61;
  color: #61bb61;
  background: white;
}

.page-button.active {
  background-color: #61bb61;
  color: white;
}

.page-button:hover {
  background-color: #b7e4b7;
  color: white;
  cursor: pointer;
}

/*article details full page*/

.article-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 110px;
}

.article-banner {
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  padding: 48px 16px;
}

.article-title {
  font-weight: 700;
  color: #ffffff;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 6px;
}

.article-author-details {
  display: flex;
  flex-direction: column;
}

.article-author-name {
  color: #5cb85c;
  font-weight: 600;
  margin: 0;
}

.article-author-img img {
  width: 24px;
  height: 24px;
}

.article-date {
  color: #aaaaaa;
  margin: 0;
}

.article-content {
  padding: 24px 16px;
}

.article-content .article-author {
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin-top: 24px;
}

/*sign in*/

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin-title {
  font-weight: 700;
  font-size: 46px;
  margin: 0;
  margin-top: 90px;
}

.signin-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-link {
  color: #61bb61;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/*sign up*/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-title {
  font-weight: 700;
  font-size: 46px;
  margin: 0;
  margin-top: 90px;
}

.signup-bottom-container {
  display: flex;
  justify-content: space-between;
}

.signup-error {
  color: red;
  margin: 0;
}

/*profile*/

.profile-banner {
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 16px;
}

.profile-picture {
  height: 132px;
  width: 132px;
  border-radius: 64px;
}

.profile-title {
  color: white;
  font-weight: 600;
  font-size: 32px;
  margin: 10px 15px;
}

/*newpost*/

.newpost-user-input-text {
  width: 480px;
  min-height: 100px;
  padding: 12px 24px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
}

.newpost-user-input-text::placeholder {
  font-weight: 700;
}

.publish-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
